:root {
  --primary: #000000;
  --secondary: #f0f0f0;
  --tertiary: #f87903;
  --light: #418d58;
  --dark: #16225a;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: var(--dark);
  color: var(--secondary);
}

main {
  margin: 0 auto;
  max-width: 90%;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.nav-list {
  margin: 5px;
  list-style: none;
}