:root {
  --primary: #000000;
  --secondary: #f0f0f0;
  --tertiary: #f87903;
  --teal: #20748d;
  --light: #418d58;
  --dark: #16225a;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: var(--dark);
  color: var(--secondary);
}

main {
  margin: 0 auto;
  max-width: 90%;
}

header {
  background: var(--teal);
  padding-left: 25px;
  padding-right: 25px;
}

a {
  color: var(--secondary);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.nav-list {
  margin: 5px;
  list-style: none;
}

.navActive a {
  color: var(--tertiary);
}

/* utils */
.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.align-item-center {
  align-items: center;
}

/* contact style */
.contact-form {
  margin: 8px;
  border-radius: 5px;
}

textarea, input {
  border-radius: 5px;
  outline: none;
}

.btn {
  padding: 5px 8px;
  border-radius: 3px;
  background-color: var(--teal);
  color: var(--secondary);
  font-weight: bold;
}